:root {
  --palette-RichElectricBlue: #0090D1;
  --palette-CyanProgress: #00C3EA;
  --palette-DarkImperialBlue: #005075;
  --palette-ColumbiaBlue: #C9D9E8;
  --palette-YankeesBlue: #152935;

  --color-primary: var(--palette-YankeesBlue);
  --bg-color-primary: var(--palette-YankeesBlue);
  --bg-color-secondary: var(--palette-RichElectricBlue);

  
  --colors-blocks-content-text-styleguide-title: #152935;
  --colors-blocks-content-text-large-heading: #152935;
  --colors-blocks-content-text-small-heading: #152935;
  --colors-blocks-content-text-styleguide-body: #5A6872;
  --colors-blocks-content-text-link: #0090D1;
  --colors-blocks-content-text-item-name: #005075;
  --colors-nav-text-main: #FFFFFF;
  --colors-sidebar-text-secondary: #FFFFFF;
  --colors-sidebar-text-primary: #FFFFFF;
  --colors-nav-background-main: #152935;
  --colors-nav-border-main: #5A6872;
  --colors-sidebar-background-main: #152935;
  --colors-sidebar-border-main: #5A6872;
  --colors-sidebar-text-icon: #FFFFFF;
  --colors-sidebar-background-hover: #5A6872;
  --colors-sidebar-background-active: #0090D1;
  --colors-nav-text-active: #FFFFFF;
  --colors-styleguide-background-accent: #0090D1;
  --colors-sidebar-text-active: #FFFFFF;
  --colors-footer-text-links: #0090D1;
  --colors-footer-border-divider: #FFFFFF;
  --colors-sidebar-text-button: #ffffff;
  --colors-sidebar-text-search: #ffffff;
  --fonts-sidebar-main: Cairo;
  --fonts-navigation: Cairo;
  --fonts-content-smaller-heading: Cairo;
  --fonts-content-body: Roboto;
}

/* cairo-400 - latin */
@font-face {
  font-family: 'Cairo-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cairo/v14/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* roboto-400 - latin */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/mdui/1.0.0/fonts/roboto/Roboto-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  padding: 0px !important;
  z-index: 100;
  margin: 0px !important;
  font-family: 'Roboto', 'Cairo Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.npm__react-simple-code-editor__textarea{
  
}